html {
    font: 16px/1.5 'Microsoft Yahei', 'PingFang SC', 'Hiragino Sans GB', sans-serif;
}

#live2d {
    position: static;
    z-index: 52;
    opacity: 1.0;
    vertical-align: middle;
    user-select: none;
    box-sizing: border-box;
}

.live2d-container {
    position: fixed;
    bottom: 0;
    z-index: 52;
    user-select: none;
    box-sizing: border-box;
    display: block;
}

.live2d-container.left {
    left: 0;
}

.live2d-container.active {
    cursor: move;
}

.live2d-dialog {
    top: -4em;
    left: 1em;
    right: 1em;
    padding: 5px 10px;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    position: absolute;
    transition: opacity .3s, visibility .3s;

    background-color: rgba(236, 217, 188, 0.5);
    border: 1px solid rgba(224, 186, 140, 0.62);
    border-radius: 12px;
    box-shadow: 0 3px 15px 2px rgba(191, 158, 118, 0.2);

    font-size: 14px;
}

.live2d-dialog.active {
    opacity: 1;
    visibility: visible;
}